<section id="education" class="section scrollspy">
      <h3 class="page-title white-text teal">Education</h3>
      <div class="container">
        <div class="row">
          <!-- Education -->
          <div class="col s12 m6">
            <div class="card">
              <div class="card-content">
                <p>
                  <span class="card-title"><a href="https://www.ssn.edu.in/" class="teal-text hoverline">
                    SSN College of Engineering, Anna University</a></span>
                </p>
                <p class="brown-text">Chennai, India</p>
                <p>
                  <b>Degree: </b>Bachelor of Technology in Information Technology
                  <br>
                  <b>CGPA: </b>8.47/10
                </p>

                <ul>
                  <p>
                    <b>Relevant Courseworks:</b>
                  <ul>
                    <li>Data Structures and Algorithms</li>
                    <li>Database Management Systems</li>
                    <li>Operating Systems</li>
                    <li>Machine Learning</li>
                    <li> Add more </li>
                  </ul>
                  </p>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
